body {
  background: url(/img/backgrounds-texture-01-1920x589.jpg);
  color: white;
  display: flex;
  min-height: 100vh;
}

*{
  font-family: 'Uchen', serif;
}

.container{
  margin-top: 50px;
}
main h2 {
  margin-top: 130px;
  text-align: center;
  
}
table {
  margin-top: 60px;
  max-width: 90%;    
}
thead {
  font-weight: bold;
}
td{
width: 15%;
text-align: center;
}