body {
  background: var(--backImg2);
  color: var(--color5);
  height: 100vh;
  margin: 0 auto;
  
  
}

div .container{
  margin-top: 50px;
}

main h2  {
  padding-top: 100px;
  margin-bottom: 30px;  
}

table {
  margin-top: 30px;
  max-width: 100%;    
}
thead {
  font-weight: bold;
}
td{
width: 10%;
text-align: center;
}

label {
  font-weight: bold;
   /* Other styling... 
   text-align: right;
   clear: both;
   float:left;
   margin-right:15px;*/
}


