body {
    background: url(/img/backgrounds-texture-01-1920x589.jpg);
    display: flex;
}

header a {
    background-color: rgb(74, 214, 168);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 51px;
    display: flex;
    height: 51px;
}
header img {
    margin-left:55px;
}

main {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    padding: 10px;
    margin: 0 auto;
}

main h1 {
    color: rgb(74, 214, 168);
    font-size: 3rem;
    margin-top: 80px;
}

h1:after {
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background: -webkit-linear-gradient( left, rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, rgba(147, 184, 189, 1) 53%, rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
}

main h2 {
    color: rgb(74, 214, 168);
    font-size: 22px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

main .social-media img {
    width: 36px;
    margin-left: 3rem;
}

main .social-media a:first-child img {
    margin-left: 0;
}

main .cadastro {
    display: flex;
    align-content: center;
    color: rgb(74, 214, 168);
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: 'Roboto';

}

label {
    color: rgb(74, 214, 168);
    position: relative;
}

input {
    width: 95%;
    margin-bottom: 25px;
    padding: 10px;
    border: 1px solid #b2b2b2;
}

button[type="submit"] {
    width: 96%;
    cursor: pointer;
    background: rgb(74, 214, 168);
    padding: 8px 5px;
    color: #fff;
    font-size: 20px;
    border: 1px solid #fff;
    text-shadow: 0 1px 1px #333;
    margin-bottom: 2rem;
}

button[type="submit"]:hover {
    background: rgb(84, 250, 195);
    transition: all .3s ease-in-out;
}