*{
  font-family: var(--font2);
}

body {
  background: var(--backImg1);
  color: var(--color5);
  min-width: 100vw;
  height: 100vh;
}

div .container{
  margin-top: 3.125rem;
}
.card-img-top {
  width: 50px;
  margin-bottom:1.25rem;
}

h1 {
  font-size: 40px;
  color: var(--color3);
  padding: 1px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 7rem;
  margin: 1rem;
}

h1:after {
  content: ' ';
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 0.625rem;
  background: -webkit-linear-gradient( left, rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, rgba(147, 184, 189, 1) 53%, rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
}

.row,
.carrinho {
  display: flex;
  justify-content: center;
}

p {
  font-size: 1.3rem;
  line-height: 1.5rem;
}

.btns {
  display: flex;
}

button {
  margin-right: 1.3rem;
  margin-top: 2rem;
}