body {
  background: var(--backImg2);
  color: var(--color5);
  height: 100vh;
  margin: 0 auto;
}

div .container{
  margin-top: 50px;
}

main {
  display: flex;
  flex-direction: column;

}
main p {
 padding-top: 90px;
 font-weight: bold;
 margin-left: 12px;
  
}

main h2  {
  padding-top: 40px;
  margin-bottom: 50px;  
}

table {
  margin-top: 30px;
  max-width: 100%;    
}
thead {
  font-weight: bold;
}
td{
width: 10%;
text-align: center;
}