/* ---------------NEWSLETTER-------------------------- */
footer .news {
  display: flex;
  background-color: var(--color3);
  width: 100%;
  height: auto;
  justify-content: center;
  padding: 1rem;
  align-items: center;
}

.news span {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--color5);
}

.news input {
  margin-left: 2rem;
  height: 30px;
  width: 500px;
}

.news button{
  margin-left: 2rem;
  height: 30px;
  width: 80px;
  letter-spacing: 1px;
  cursor: pointer;
  color: var(--color6);
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--color4);
  border: solid 1px var(--color4);
  border-radius: 5px;
}

button:hover {
  transition: all 0.3s ease-in-out;
}

/* ---------------FOOTER-------------------------- */

footer .infos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-image: var(--backImg1);
}

footer .geral {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.left {
  justify-self: flex-start;
  padding: 0.625rem 4rem;
}

.left img {
  height: 45px;
  width: 180px;
  margin-bottom: 5px;
}

.left p {
  margin-left: 1rem;
  color: var(--color5);
  line-height: 1.5rem;
}

.right {
  justify-self: flex-end;
  padding-top: 2rem;
  padding-right: 4rem;
}

.right h3 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color3);
  padding-left: 0rem;
}

.medias {
  display: flex;
  justify-content: space-evenly;
}

.links {
  display: flex;
  margin: 2rem auto;
}

.list::after {
  content: "|";
  padding: 0 1rem;
  color: var(--color5);
}

.links a {
  text-decoration: none;
  color: var(--color5);
}

.links a:hover {
  background-color: var(--color4);
  color: var(--color6);
}

/******************Media Queries**********************/

@media (max-width: 820px) {
  .news input {
    margin-left: 1rem;
    width: 400px;
  }
}

@media (max-width: 600px) {
  .left,
  .right {
    display: none;
  }
}
