/******************Configuração Sticky Header**********************/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--color3);
}

.sticky .navegador li a:hover {
  background-color: var(--color4);
}

/******************Configuração Slide Show**********************/
.slider {
  overflow: hidden;
  position: relative;
}

.slider figure {
  position: relative;
  width: 400%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}

.slider figure img {
  float: left;
  width: 25%;
  height: 100vh;
  object-fit: cover; 
}

@keyframes slider {
  0%   { left: 0; }
  25%  { left: 0; }
  30%  { left: -100%; }
  55%  { left: -100%; }
  60%  { left: -200%; }
  85%  { left: -200%; }
  90%  { left: -300%; }
  100% { left: -300%; }
}

.slider .content {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
}

.slider .content h1 {
  box-sizing: border-box;
  color: var(--color5);
  font-size: 4rem; 
  font-weight: 600;
  margin: 0 20px; 
}

.slider .content h5 {
  color: var(--color5);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin: 0 20px;
}

.slider .content .btn-planos {
  background: transparent;
  color: var(--color5);
  border: 2px solid var(--color5);
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: 1px;
  padding: 0.7rem 2.4rem;
  border-radius: 5px;
  transition: all .3s ease-in-out;
}

.slider .content .btn-planos:hover {
  background: var(--color5);
  color: var(--color6);
}

/************* Common Style *****************/
.title {
  display: flex;
  justify-content: center;
}

.title h2 {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0.6875rem;
  margin: 4.375rem 0rem 0rem 0rem;
}

.second-section .title {
  color: var(--color5);
}

.third-section .title,
.fourth-section .title {
  color: var(--color7);
}

.division {
  background-color: var(--color3);
  width: 50px;
  height: 3px;
  margin: 0.0625rem auto 3.125rem;
  border: none;
}

.second-section {
  background-image: var(--backImg1);
}

.third-section,
.fourth-section {
  background-image: var(--backImg2);
}

/************* Second Section *****************/

.division-insidebox {
  background-color: var(--color3);
  width: 25px;
  height: 2px;
  margin: 0.625rem auto 0.875rem;
  border: none;
}

.second-section .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.second-section .box {
  width: 20%;
  height: 230px;
  display: inline-block;
  margin: 1rem;
  text-align: center;
  color: var(--color5);
}

.box-second h3 {
  font-size: 1.5rem;
  padding: 0.3125rem;
}

.box-second p {
  line-height: 1.5rem;
  padding: 0.625rem;
}

.numbers {
  width: auto;
  height: 50px;
  display: block;
  margin: 0.9375rem auto;
}

/************* Third Section *****************/

.third-section .container{
  display: flex;
  justify-content: space-around;
  flex-flow: wrap; 
  text-align: center;  
}

.third-section .box{
  width: 21%;
  height: 350px;
  background-color: var(--color3);
  margin: 1.25rem; 
  box-sizing: border-box;
  box-shadow: 0.375rem 0.375rem 0.375rem var(--color8);
}

.third-section .plano {
  color: var(--color5);
  padding: 1.25rem; 
  font-size: 1.5rem;
}

.third-section .valor {
  color: var(--color4);
  padding: 1.875rem 0 1.25rem; 
  font-weight: 700;
  font-size: 2rem;
}

.third-section .texto {
  margin-top: 0.625rem; 
  margin-bottom: 3.125rem;
  color: var(--color5);
}

.third-section .periodo {
  font-weight: bold;
  font-size: 1.2rem;
}

.third-section .aviso {
  font-size: 0.9rem;
}

.third-section .btn {
  background: var(--color4);
  font-size: 1rem;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 0.3125rem 1.25rem; 
  border-radius: 5px;
  transition: all .3s ease-in-out;
  border: solid 1px var(--color4);
  margin-left: 0.625rem; 
}


.third-section .btn a {
  text-decoration: none;
  color: var(--color6);
}


.third-section .btn:hover {
  background: var(--color5);
  border: solid 1px var(--color6);
}

/************* Fourth Section *****************/

.fourth-section .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 4rem;
}

.fourth-section .box {
  position: relative;
  max-width: 600px;
  min-width: 300px;
  max-height: 400px; 
  min-height: 200px;
  margin: 1rem;
  margin-bottom: 2rem;
  box-shadow: 0.375rem 0.375rem 0.375rem var(--color8);
}

.fourth-section .box img {
  width:100%;
  opacity: 0.7;
}

.text-products{
  display: flex;
  justify-content: center;
}

.text-products p {
  position: absolute;
  top: 50%;
  font-size: 2.5rem;
  text-decoration: none;
  text-shadow: 0.125rem 0.125rem 0.3125rem var(--color9);
  color: var(--color5);
  z-index: 2;
}

a:hover {
  cursor: pointer;
  color: var(--color3);
}

/************* ScrolltoTop*****************/

#btnScrolltoTop {
  position: fixed;
  right: 10px;
  bottom: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: var(--color7);
  box-shadow: 0 0 10 var(--color9);
  border: none;
  outline: none;
  cursor: pointer;
}

#btnScrolltoTop::before {
  content: '\02C4';
  font-size: large;
  font-weight: bolder;
  color: var(--color5);
}

#btnScrolltoTop:active {
  background-color: var(--color3);
}

/***************************MEDIA QUERIES***************************/

@media(max-width:1200px) {
  .third-section .box {
    width:45%
  }
  .fourth-section .box {
    width: 45%;
  }
}

@media(max-width:820px) {
  .third-section .box {
    width:40%;
    height: 300px;
  }
  .fourth-section .box {
    width: 45%;
  }
}

@media(max-width:600px) {
  .second-section .box {
    width: 30%;
    height: 180px;
    margin: 1.5rem 3rem;
  }
  .third-section .box {
    width: 80%;
  }
  .fourth-section .box {
    width: 80%;
  }
}


