/******************Configuração Sticky Header**********************/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(74, 214, 168);
}

.sticky .navegador li a:hover {
  background-color: #ffeb3b;
}

/******************Configuração Slide Show**********************/
.slider {
  overflow: hidden;
  position: relative;
}

.slider figure {
  position: relative;
  width: 400%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}

.slider figure img {
  float: left;
  width: 25%;

  height: 100vh; /*Novo*/
  object-fit: cover; /*Novo*/
}

@keyframes slider {
  0% {
    left: 0;
  }

  25% {
    left: 0;
  }

  30% {
    left: -100%;
  }

  55% {
    left: -100%;
  }

  60% {
    left: -200%;
  }

  85% {
    left: -200%;
  }

  90% {
    left: -300%;
  }

  100% {
    left: -300%;
  }
}

.slider .content {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);

}

.slider .content h1 {
  box-sizing: border-box;
  color: #fff;
  font-size: 4rem; /*Troquei para 4rem pq a imagem está maior*/
  font-weight: 600;
  margin: 0 20px; /*Novo*/
}

.slider .content h5 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin: 0 20px; /*Novo*/
}

.slider .content .btn-planos {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem; /*Novo*/
  letter-spacing: 1px;
  padding: 0.7rem 2.4rem; /*Novo*/
  border-radius: 5px;
  transition: all .3s ease-in-out;

}

.slider .content .btn-planos:hover {
  background: #fff;
  color: black;
}

/************* Common Style *****************/
.title {
  display: flex;
  justify-content: center;
}

.title h2 {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0.6875rem;
  margin: 4.375rem 0rem 0rem 0rem;
}

.second-section .title {
  color: #fff;
}

.third-section .title,
.fourth-section .title {
  color: rgb(31, 41, 50);
}

.division {
  background-color: rgb(74, 214, 168);
  width: 50px;
  height: 3px;
  padding: 0;
  margin: 0.0625rem auto 3.125rem;
  border: none;
  box-sizing: border-box;
}

.second-section {
  background-image: url(/img/backgrounds-texture-01-1920x589.jpg);
  height: auto;
}

.third-section,
.fourth-section {
  background-image: url(/img/background-body-1920x593.jpg);
}

/************* Second Section *****************/

.division-insidebox {
  background-color: rgb(74, 214, 168);
  width: 25px;
  height: 2px;
  padding: 0;
  margin: 0.625rem auto 0.875rem;
  border: none;
  box-sizing: border-box;
}

.second-section .container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  flex-wrap: wrap;
}

.second-section .box {
  width: 20%;
  height: 230px;
  display: inline-block;
  margin: 1rem;
  text-align: center;
  color: #fff;
}

.box-second h3 {
  font-size: 1.5rem;
  padding: 0.3125rem;
}

.box-second p {
  line-height: 1.5rem;
  padding: 0.625rem;
}

.numbers {
  width: auto;
  height: 50px;
  display: block;
  margin: 0.9375rem auto;
}

/************* Third Section *****************/

.third-section .container{
  width: 100%;
  height: auto;
  
  /*adding flexbox style*/
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap; /*Novo*/
  text-align: center;  
}

.third-section .box{
  width: 21%; /*Troque de 30%*/
  height: 350px;
  background-color: rgb(74, 214, 168);
  margin: 1.25rem; /*Troquei para rem*/
  box-sizing: border-box;
  box-shadow: 0.375rem 0.375rem 0.375rem #888;  /*Troquei para rem*/
}

.third-section .plano {
  color: #fff;
  padding: 1.25rem; /*mudei para rem*/
  font-size: 1.5rem;
}

.third-section .valor {
  color: #ffeb3b;
  padding: 1.875rem 0 1.25rem; /*mudei para rem*/
  font-weight: 700;
  font-size: 2rem;
}

.third-section .texto {
  margin-top: 0.625rem; /*mudei para rem*/
  margin-bottom: 3.125rem; /*mudei para rem*/
  color: #fff;
}

.third-section .periodo {
  font-weight: bold;
  font-size: 1.2rem;
}

.third-section .aviso {
  font-size: 0.9rem;
}

.third-section .btn {
  background: #ffeb3b;
  color: black;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 0.3125rem 1.25rem; /*mudei para rem*/
  border-radius: 5px;
  transition: all .3s ease-in-out;
  border: solid 1px #ffeb3b;
  margin-left: 0.625rem; /*mudei para rem*/
}

.third-section .btn:hover {
  background: #fff;
  border: solid 1px black;
}

/************* Fourth Section *****************/

.fourth-section .container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 4rem;
}

.fourth-section .box {
  position: relative;
  max-width: 600px;
  min-width: 300px;
  max-height: 400px; 
  min-height: 200px;
  margin: 1rem;
  margin-bottom: 2rem;
  box-shadow: 0.375rem 0.375rem 0.375rem #888;
}

.fourth-section .box img {
  width:100%;
  opacity: 0.7;
}

.text-products{
  display: flex;
  justify-content: center;
}

.text-products a {
  position: absolute;
  top: 50%;
  font-size: 2.5rem;
  text-decoration: none;
  text-shadow: 0.125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.75);
  color: #fff;
  z-index: 2;
}

a:hover {
  cursor: pointer;
  color: rgb(74, 214, 168);
}

/************* ScrolltoTop*****************/

#btnScrolltoTop {
  position: fixed;
  right: 10px;
  bottom: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: #1f2932;
  box-shadow: 0 0 10 rgba(0, 0, 0, 0.75);
  border: none;
  outline: none;
  cursor: pointer;
}

#btnScrolltoTop::before {
  content: '\02C4';
  font-size: large;
  font-weight: bolder;
  color: #ffff;
}

#btnScrolltoTop:active {
  background-color: rgb(74, 214, 168);
}

/***************************MEDIA QUERIES***************************/

/*De 1200px para baixo*/
@media(max-width:1200px) {
  
  .third-section .box {
    width:45%
  }
  .fourth-section .box {
    width: 45%;
  }
}

/*De 820px para baixo*/
@media(max-width:820px) {

  .third-section .box {
    width:40%;
    height: 300px;
  }
  .fourth-section .box {
    width: 45%;
  }
}

/*De 600px para baixo*/
@media(max-width:600px) {
  .second-section .box {
    width: 30%;
    height: 180px;
    margin: 1.5rem 3rem;
  }

  .third-section .box {
    width: 80%;
  }
  .fourth-section .box {
    width: 80%;
  }
}


