body {
  background: url(/img/background-body-1920x593.jpg)
}
header a {
  background-color: rgb(74, 214, 168);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 51px;
  display: flex;
  height: 51px;
}
header img {
  margin-left:55px;
}
table {
  margin-top: 60px;
  max-width: 80%;    
}
thead {
  font-weight: bold;
}
td{
width: 15%;
text-align: center;
}