* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  html {
    font-size: 16px;
  }
  
  .title{
    display: flex;
    justify-content: center;
  }
  
  .title span {
    font-size: 2.5rem;
      font-weight: bold;
      padding: 11px;
      margin: 70px 0px 0px 0px;
  }
  
  .rules .title {
    color: #fff;
  }
  
  .packages .title,
  .products .title{
    color: black;
  }
  
  .division{
    background-color:rgb(74, 214, 168);
    width: 35px;
    height: 3px;
    padding: 0;
    margin: 1px auto 50px;
    border: none;
    box-sizing: border-box;
  }
  
  .second{
    background-image: url(/img/backgrounds-texture-01-1920x589.jpg);
    height: 550px;
  }
  
  .third,
  .fourth{
    background-image: url(/img/background-body-1920x593.jpg);
  }
  