<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/adminUsers.css">

    <title>Login</title>
</head>

<body>
    <header>
        <a href="/admin"><img src="/img/Logo_MoovebikeA_modV3.png" alt=""></a>
    </header>
    <main>

        <h2>USUÁRIOS</h2>

        <input type='text'>
        <button>Procurar</button>

        <table>
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Nome</td>
                    <td>Email</td>
                    <td>Administrador</td>
                    <td>DELETAR</td>
                    <td>VER PLANOS</td>
                </tr>
            </thead>
            <tbody>
                <% users.forEach((user)=> { %>
                    <tr>
                        <td>
                            <%=user.id%>
                        </td>
                        <td>
                            <%=user.name%>
                        </td>
                        <td>
                            <%=user.email%>
                        </td>
                        <td>
                            <%=user.admin%>
                        </td>
                        <td>
                            BOTÃO
                        </td>
                        <td>
                            BOTÃO
                        </td>
                    </tr>

                    <% }) %>

    </main>

</body>

</html>