<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/admin.css">

    <title>Login</title>
</head>

<body>
    <header>
        <a href="/"><img src="/img/Logo_MoovebikeA_modV3.png" alt=""></a>
    </header>
    <main>

        <h1>ÁREA ADMINISTRATIVA</h1>

        <ul class="admin">
            <li><a href="/admin/users">Usuários</a></li>
            <li><a href="/admin/packages">Pacotes</a></li>
            <li><a href="/admin/rentals">Aluguéis</a></li>
        </ul>


    </main>

</body>

</html>