<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Carrinho Vanilla</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="/css/cart.css">
</head>

<body>
  <div class="container">
    <h1>Carrinho MooveBike</h1>
    <hr />
    <div class="row">
      <img class="card-img-top" src="/img/shopping-icon.png" alt="..." />
    </div>
  </div>
  <h5 class="card-title">Resumo do Pedido</h5>

  <div class="carrinho">
    <div class="card-text">
      <p>
        Pacote: <%=chosenPack.name%>
      </p>
      <p>
        Período: <%=chosenPack.period%>
      </p>
      <h6>Total: R$ <%=chosenPack.price%>
      </h6>
      <button data-value="300" class="btn btn-primary"> Adicionar</button>
      <button class="btn btn-danger btn-sm">Remover</button>
    </div>

  </div>

  <script src="main.js"></script>
</body>

</html>