<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/reservas.css">
  <title>Minhas reservas</title>
</head>

<body>
  <header>
    <a href="/"><img src="/img/Logo_MoovebikeA_modV3.png" alt=""></a>
  </header>
  <h1>Minhas Reservas</h1>
  <table>
    <thead>
      <tr>
        <td>Nome do Pacote</td>
        <td>Modelo da bike</td>
        <td>Período</td>
        <td>Retirada</td>
        <td>Devolução</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> - </td>
        <td> - </td>
        <td> - </td>
        <td> - </td>
        <td> - </td>
      </tr>
    </tbody>
  </table>
</body>

</html>