<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/message.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Mensagem</title>
</head>

<body>
    <header>
        <% if(locals.isLoggedAdmin){ %>
            <a href="/admin"><img src="/img/Logo_MoovebikeA_modV3.png" alt="logo"></a>
            <% } if (locals.isLogged) { %>
                <a href="/"><img src="/img/Logo_MoovebikeA_modV3.png" alt="logo"></a>
                <% } %>
    </header>
    <h1>
        <%=message%>
    </h1>
</body>

</html>