<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="css/planos.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <%- include('partials/header.ejs') %>
        <section class="third-section">

            <h2>Nossos Planos</h2>

            <div class="container-box">
                <div class="box">
                    <div class="plano">Diário</div>
                    <div class="valor">R$ 8,00</div>
                    <div class="texto">
                        <span class="periodo">Passe Diário</span><br>
                        <span class="aviso">*Checar planos para Moove Elétrica</span>
                    </div>
                    <button class="btn">Comprar Agora!</button>
                </div>

                <div class='box'>
                    <div class="plano">Relax</div>
                    <div class="valor">R$ 16,90</div>
                    <div class=texto>
                        <span class="periodo">Plano Semanal</span><br>
                        <span class="aviso">*Checar planos para Moove Elétrica</span>
                    </div>
                    <button class="btn">Comprar Agora!</button>
                </div>

                <div class='box'>
                    <div class="plano">Moove</div>
                    <div class="valor">R$ 29,90</div>
                    <div class="texto">
                        <span class="periodo">Plano Mensal</span><br>
                        <span class="aviso">*Checar planos para Moove Elétrica</span>
                    </div>
                    <button class="btn">Comprar Agora!</button>
                </div>

                <div class='box'>
                    <div class="plano">Super Moove</div>
                    <div class="valor">R$ 239,90</div>
                    <div class="texto">
                        <span class="periodo">Plano Anual</span><br>
                        <span class="aviso">*Checar planos para Moove Elétrica</span>
                    </div>
                    <button class="btn">Comprar Agora!</button>
                </div>
            </div>


        </section>
        <%- include('partials/footer') %>
            <script src="/js/script.js"></script>
</body>

</html>