<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/register.css">
</head>

<body>
    <header>
        <a href="/"><img src="/img/Logo_MoovebikeA_modV3.png" alt=""></a>
    </header>
    <main>

        <div class="cadastro">
            <h1><span>Cadastre-se</span></h1>
        </div>

        <form action="/register" method="POST">

            <% if (locals.error) { %>
                <div class="alert">
                    <%= locals.error %>
                </div>
                <% } %>

                    <label for="name">
                        <span>Nome Completo</span>
                        <input type="text" id="name" name="name" required="required">
                    </label>

                    <label for="email">
                        <span>Email</span>
                        <input type="text" id="email" name="email" required="required">
                    </label>

                    <label for="password">
                        <span>Senha</span>
                        <input type="password" id="password" name="password" required="required">
                    </label>
                    <button type="submit">Inscreva-se</button>

        </form>
    </main>
</body>

</html>