<footer>
    <section class="news">
        <span>Receba nossas novidades</span>
        <input id="email" name="email" type="email" placeholder="seuemail@email.com" />
        <button type="submit" id="enviarEmail" onclick="clicou()">Enviar</button>
    </section>

    <section class="infos">
        <div class="geral">
            <div class="left">
                <img src="/img/Logo_MoovebikeA_modV3.png">
                <p>Endereço: Rua Frei Caneca</p>
                <p>Telefone: (11)3434-3434</p>
                <p>E-mail: moovebike@hotmail.com</p>
            </div>
            <div class="right">
                <h3>Nossos Canais</h3>
                <div class="medias">
                    <a href="http://www.instagram.com/" target="blank"><img src="/img/insta.png" alt=""></a>
                    <a href="http://pt-br.facebook.com/" target="blank"><img src="/img/face.png" alt=""></a>
                    <a href="http://web.whatsapp.com/" target="blank"><img src="/img/whats.png" alt=""></a>
                </div>
            </div>
        </div>

        <div class="links">
            <p class="list"><a href="#">Regras Gerais</a></p>
            <p class="list"><a href="#">Termos de uso</a></p>
            <p><a href="/contactUs">FALE CONOSCO</a></p>
        </div>
    </section>


    <button id="btnScrolltoTop">
        <span></span>
    </button>


</footer>