<footer>
    <div class="geral">
    <div>
    <nav>
        <ul class="navegador-1">
            <h3> Informações</h3>
            <li><a href="#">Página Inicial</a></li>
            <li><a href="#">Termo de Uso</a></li>
            <li><a href="#">Política de Privacidade</a></li>
            
        </ul>
    </nav>
    </div>
    <nav>
        <ul class="navegador-2">
            <h3> Links Úteis</h3>
            <li><a href="#">Condições Gerais</a></li>
            <li><a href="/faleconosco">Fale Conosco</a></li>
            <li><a href="#">Regras Gerais</a></li>
        </ul>
    </nav>
    </div>


    <div class="socialMidias">
        <h3>Nossos Canais</h3>
        <br>
        <div class="midias">
            <a href="http://www.instagram.com/" target="blank"><img src="/img/insta.png" alt=""></a>
            <a href="http://pt-br.facebook.com/" target="blank"><img src="/img/face.png" alt=""></a>
            <a href="http://web.whatsapp.com/" target="blank"><img src="/img/whats.png" alt=""></a>       
        </div>
    </div>

    </div>
    <button id="btnScrolltoTop">
        <span></span>
    </button>
</footer>