<footer>
    <section class="news">
        <span>Receba nossas novidades!</span>
        <input id="email" name="email" type="text" placeholder="seuemail@email.com" />
        <button type="button" value="Enviar" onclick="newsletter()">Enviar</button>
    </section>

    <section class="infos">
        <div class="geral">
            <div class="left">
                <img src="/img/logo.png">
                <p>E-mail: moovebike@hotmail.com</p>
                <p>Telefone: (11)3434-3434</p>
            </div>
            <div class="right">
                <h3>Nossos Canais</h3>
                <div class="medias">
                    <a href="http://www.instagram.com/" target="blank"><img src="/img/social-insta.png"
                            alt="logo-instagram"></a>
                    <a href="http://pt-br.facebook.com/" target="blank"><img src="/img/social-face.png"
                            alt="logo-facebook"></a>
                    <a href="http://web.whatsapp.com/" target="blank"><img src="/img/social-whats.png"
                            alt="logo-whatsapp"></a>
                </div>
            </div>
        </div>
    </section>


    <button id="btnScrolltoTop">
        <span></span>
    </button>


</footer>