<header id="headerTopo" class>
    <div class="logo"><a href="/">MooveBike Logo</a>
    </div>
    <nav>
        <ul class="navegador">
            <li><a href="/">Home</a></li>
            <li><a href="#">Bikes</a></li>
            <li><a href="/planos">Planos</a></li>
            <li><a href="/estacoes">Estações</a></li>
        </ul>
    </nav>
    <div class="btns-header">
        <a href="/login" class="btn-login">Login</a>
        <a href="/cadastro" class="btn-cadastro">Cadastre-se</a>
    </div>
    <span onclick="addActive()" class="hamburguer"></span>


</header>