<div onclick="moveBackToTheOldStage()" id="dropdown-menu" class>
    <ul class="dropdown-itens">
        <li><a href="/">Home</a></li>
        <li><a href="#">Bikes</a></li>
        <li><a href="/planos">Planos</a></li>
        <li><a href="/estacoes">Estações</a></li>
    </ul>
</div>