* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.third-section {
    width: 100%;
    background-image: url('../images/background-body-1920x593.jpg');
    height: auto;
    width: 100%;
    text-align: center;    
}

.third-section h2 {
    padding: 20px;
    color: #1f2932;
    font-size: 2.5rem;
    
}

.container-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.box{
    width: 30%;
    height: 350px;
    background-color: rgb(74, 214, 168);
    margin: 20px;
    box-sizing: border-box;
    box-shadow: 6px 6px 6px #888;
}

.plano {
    color: #fff;
    padding: 20px;
    font-weight: 700;
    font-size: 1.5rem;   
}
.texto {
    margin-top: 10px;
    margin-bottom: 50px;
}
.valor {
    color: #ffeb3b;
    padding: 30px 0 20px;

    font-weight: 700;
    font-size: 2rem;
    
}

.periodo {
    color: #fff;
    font-weight: bold;
    
}

.aviso {
    color: #fff;
    font-size: 0.7rem;
}

.third-section .btn{
    background: #ffeb3b;
    color: black;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 5px 20px;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    border: solid 1px #ffeb3b;
    margin-left: 10px; 
}

.third-section .btn:hover{
    background: #fff;
    border: solid 1px black;
}
