<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapas Estações</title>
    <link rel="stylesheet" href="/stylesheets/estacoes.css">
</head>
<body>
    <section class="first">
        <header id="headerTopo" class>
            <div class="logo"><a href="/">MooveBike Logo</a>
            </div>
            <nav>
                <ul class="navegador">
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Bikes</a></li>
                    <li><a href="/planos">Planos</a></li>
                    <li><a href="/estacoes">Estações</a></li>
                </ul>
            </nav>
            <div class="btns-header">
                <a href="/login" class="btn-login">Login</a>
                <a href="/cadastro" class="btn-cadastro">Cadastre-se</a>
            </div>
        </header>
    <div class="mapa-das-estacoes">
        <span>
            Mapa das Estações
        </span>
    </div>
    <div id="map"></div>
    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRRrj8BIJPaJI0ynk-eJDpKoNGlcllBic&callback=initMap&libraries=&v=weekly"
        async>
    </script>
    <script src="/javascripts/script.js"></script>
</body>
</html>