<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

    <title>MooveBike</title>
</head>

<body>
    <!--First Part-->
    <section class="first">
        <header id="headerTopo" class>
            <div class="logo"><a href="/">MooveBike Logo</a>
            </div>
            <nav>
                <ul class="navegador">
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Bikes</a></li>
                    <li><a href="/planos">Planos</a></li>
                    <li><a href="/estacoes">Estações</a></li>
                </ul>
            </nav>
            <div class="btns-header">
                <a href="/login" class="btn-login">Login</a>
                <a href="/cadastro" class="btn-cadastro">Cadastre-se</a>
            </div>
        </header>

        <div class="slider">
            <figure>
                <img src="images/background-02-1920x800.jpg" alt="">
                <img src="images/background-03-1920x800.jpg" alt="">
                <img src="images/background-04-1920x800.jpg" alt="">
                <img src="images/background-02-1920x800.jpg" alt="">
            </figure>

            <div class="content">
                <h1>Comece a Pedalar Já</h1><br>
                <h4>Contrate um plano e comece sua trajetória para uma vida mais saudável.</h4><br><br>
                <a href="/planos" class="btn-planos">Nossos Planos</a>
            </div>
    </section>
    <!--Second Section-->
    <section class="second-section">
        <div class="rules">
            <div class="title-rules">
                <span>Regras Utilização</span>
            </div>
            <hr class="division">
            <div class="boxes-second-section">
                <div class="second-section-box">
                    <img class="numbers" src="/images/one-removebg-preview.png" alt="">
                    <h3>CADASTRO</h3>
                    <hr class="division-insidebox">
                    <p>Cadastre-se em nosso site.</p>
                </div>
                <div class="second-section-box1">
                    <img class="numbers" src="/images/two-removebg-preview.png" alt="">
                    <h3>PLANO</h3>
                    <hr class="division-insidebox">
                    <p>Escolha um plano. Temos planos: Semanal, quinzenal e mensal.</p>
                </div>

                <div class="second-section-box2">
                    <img class="numbers" src="/images/threepg-removebg-preview.png" alt="">
                    <h3>RESERVA</h3>
                    <hr class="division-insidebox">
                    <p>Faça sua reserva online.</p>
                </div>

                <div class="second-section-box3">
                    <img class="numbers" src="/images/four-removebg-preview.png" alt="">
                    <h3>RETIRADA/DEVOLUÇÃO</h3>
                    <hr class="division-insidebox">
                    <p>Escolha a loja mais próxima de você para retirar e devolver.</p>
                </div>
            </div>
    </section>

    <section class="third-section">
        <!--ALTERADO-->
        <div class="title-products">Nossos Planos</div>
        <hr class="division-products">
        <!--<h2>Nossos Planos</h2>-->

        <div class="container-box">
            <div class="box">
                <div class="plano">Diário</div>
                <div class="valor">R$ 8,00</div>
                <div class="texto">
                    <span class="periodo">Passe Diário</span><br>
                    <span class="aviso">*Checar planos para Moove Elétrica</span>
                </div>
                <button class="btn">Comprar Agora!</button>
            </div>

            <div class='box'>
                <div class="plano">Relax</div>
                <div class="valor">R$ 16,90</div>
                <div class=texto>
                    <span class="periodo">Plano Semanal</span><br>
                    <span class="aviso">*Checar planos para Moove Elétrica</span>
                </div>
                <button class="btn">Comprar Agora!</button>
            </div>

            <div class='box'>
                <div class="plano">Moove</div>
                <div class="valor">R$ 29,90</div>
                <div class="texto">
                    <span class="periodo">Plano Mensal</span><br>
                    <span class="aviso">*Checar planos para Moove Elétrica</span>
                </div>
                <button class="btn">Comprar Agora!</button>
            </div>

            <div class='box'>
                <div class="plano">Super Moove</div>
                <div class="valor">R$ 239,90</div>
                <div class="texto">
                    <span class="periodo">Plano Anual</span><br>
                    <span class="aviso">*Checar planos para Moove Elétrica</span>
                </div>
                <button class="btn">Comprar Agora!</button>
            </div>
        </div>
    </section>
    <section class="fourth-section">
        <div class="products">
            <div class="title-products">
                Nossas MOOVE's
            </div>
            <hr class="division-products">
            <div class="tradicional">
                <div class="tradicional-bike">
                    <div class="text-products">
                        <a href="#">MOOVE</a>
                    </div>
                    <img src="images/Bike01.png">
                </div>
                <div class="tradicional-bike">
                    <div class="text-products">
                        <a href="#">SUPER MOOVE</a>
                    </div>
                    <img src="images/Bike02.png">
                </div>
            </div>
            <div class="eletric">
                <div class="eletric-bike">
                    <div class="text-products">
                        <a href="#">MOOVE-e</a>
                    </div>
                    <img src="/images/B02.png">
                </div>
                <div class="eletric-bike">
                    <div class="text-products">
                        <a href="#">SUPER MOOVE-e</a>
                    </div>
                    <img src="/images/B02.png">
                </div>
            </div>
        </div>

        <footer>
            <div class="geral">
                <div>
                    <nav>
                        <ul class="navegador-1">
                            <h3> Informações</h3>
                            <li><a href="#">Página Inicial</a></li>
                            <li><a href="#">Termo de Uso</a></li>
                            <li><a href="#">Política de Privacidade</a></li>

                        </ul>
                    </nav>
                </div>
                <nav>
                    <ul class="navegador-2">
                        <h3> Links Úteis</h3>
                        <li><a href="#">Condições Gerais</a></li>
                        <li><a href="/faleconosco">Fale Conosco</a></li>
                        <li><a href="#">Regras Gerais</a></li>
                    </ul>
                </nav>
            </div>


            <div class="socialMedias">
                <h3>Nossos Canais</h3>
                <br>
                <div class="midias">
                    <a href="http://www.instagram.com/" target="blank"><img src="/images/insta.png" alt=""></a>
                    <a href="http://pt-br.facebook.com/" target="blank"><img src="/images/face.png" alt=""></a>
                    <a href="http://web.whatsapp.com/" target="blank"><img src="/images/whats.png" alt=""></a>
                </div>
            </div>

            </div>
            <button id="btnScrolltoTop">
                <span></span>
            </button>
        </footer>


        <script src="/javascripts/script.js"></script>
</body>

</html>